    <footer class="footer">
        <span class="footer__copyright">&copy; 2019 CMD Amsterdam</span>
        <ul class="footer__social-media-icons">
            <li class="icon-twitter"><a aria-label="Social Media link: Twitter" href="http://twitter.com/cmdamsterdam" target="_blank" rel="noopener noreferrer">Twitter</a></li>
            <li class="icon-facebook"><a aria-label="Social Media link: Facebook" href="https://www.facebook.com/CMD-Amsterdam-125542707518591/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
            <li class="icon-vimeo"><a aria-label="Social Media link: Vimeo" href="http://vimeo.com/cmdamsterdam" target="_blank" rel="noopener noreferrer">Vimeo</a></li>
            <li class="icon-linkedin"><a aria-label="Social Media link: Linkedin" href="https://www.linkedin.com/groups/5051295/" target="_blank" rel="noopener noreferrer">LinkdIn</a></li>
        </ul>
    </footer>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker
                    .register('/service-worker.js')
                    .then(function (registration) {
                        registration.update();
                        console.log('Service Worker: Registered');
                    }).catch(function (error) {
                        console.log(error);
                    });
            });
        }
    </script>
</body>
</html>