    <footer class="footer">
        <span class="footer__copyright">&copy; 2019 CMD Amsterdam</span>
        <ul class="footer__social-media-icons">
            <a href="#"><li class="icon-twitter"></li></a>
            <a href="#"><li class="icon-facebook"></li></a>
            <a href="#"><li class="icon-vimeo"></li></a>
            <a href="#"><li class="icon-linkedin"></li></a>
        </ul>
    </footer>
</body>
</html>