<header class="header">
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li><a href="#"><img src="img/cmd_hva_logo_black-1.png" alt=""></a></li>
            <li><a href="#">CMD</a></li>
            <li><a href="#">Studentenwerk</a></li>
            <li><a href="#">Samenwerken</a></li>
            <li><a href="#">Battery</a></li>
            <li><a href="#">Nieuws</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Contact</a></li>
            <li>&nbsp;</li>
        </ul>
    </nav>
</header>