<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<section class="slider">
    <div class="slider__content">
        <h1 class="heading">Samenwerken</h1>
        <h2 class="heading-2">Alle mogelijkheden vind je hier</h2>
        <a href="#" class="button">Mail Mathijs</a>
    </div>
</section>

<section class="article article--icon">
    <article class="article__content">
        <h3 class="heading-3">Kennis. Delen. Mooi!</h3>
        <p class="paragraph--big">
            Onze opleiding hecht grote waarde aan samenwerking. We kijken met interesse naar de ontwikkelingen in ons vakgebied en de samenleving en zoeken daar onderwerpen en partners uit. Daarnaast stellen wij onze kennis en kunde rond digital interactive design graag beschikbaar voor ons netwerk.
        </p>
        <p class="paragraph">
            Dit alles doen we via stages, het werken aan projecten, gastcolleges, bedrijfsbezoeken, bijbaantjes, (betaalde) ontwerpklussen voor onze studenten en korte cursussen en masterclasses voor bedrijven. We zetten hieronder de mogelijkheden uiteen. Samenwerken? Mail Mattijs Blekemolen, onze coördinator externe samenwerking.
        </p>
    </article>
    <img src="https://www.cmd-amsterdam.nl/wp-content/uploads/2013/12/Cmd-Arrow-icon-transparant.gif" alt="">
</section>

<section class="article article--icon article--yellow">
    <img src="https://www.cmd-amsterdam.nl/wp-content/uploads/2013/12/cmd_icon_pencilcross.png" alt="Stages">
    <article class="article__content">
        <h3 class="heading-3">Stages</h3>
        <p class="paragraph paragraph--big">
            Bij CMD in Amsterdam worden studenten opgeleid tot digital interactive designers. Via vakken en projecten rond de specialismen interaction design, visual design en techniek (met name frontend development) ontwikkelen zij zich tot startende ontwerpers met een expertise in of met een combinatie van deze specialismen.
        </p>
        <p class="paragraph">
            Tijdens stages werken onze studenten mee aan de digital design projecten bij bedrijven. Aan het einde van het tweede studiejaar via een korte stage van tien weken, in het afstudeerjaar via een lange stage van twintig weken. Onze studievereniging IAM Core organiseert twee keer per jaar Stage Diving; een stagemarkt voor studenten en bedrijven. In februari voor de tweedejaars stage (start april), in juni gericht op de aankomende afstudeerstage (start september).
        </p>
        <a href="#" class="button">Informatie over stages</a>
        <a href="#" class="button">Stage Diving</a>
    </article>
</section>

<section class="article article--img">
    <img src="https://www.cmd-amsterdam.nl/wp-content/uploads/2013/12/cmd_daantjebons_0022.jpg" alt="Projecten">
    <article class="article__content">
        <h3 class="heading-3">Projecten</h3>
        <p class="paragraph paragraph--big">
            Het werken in / aan projecten zit in de kern van onze opleiding. Van propedeuse tot afstudeerjaar wordt zowel in teamverband als individueel veel aan projecten gewerkt. Deze (onderzoeks)projecten bieden een goede mogelijkheid om externe opdrachten rond 'digital interactive design' uit het werkveld aan te bieden aan onze studenten.
        </p>
        <p class="paragraph">
            Aandachtspunt is dat er genoeg ruimte moet zijn voor de ideeën en de creativiteit van onze studenten. Externe opdrachten worden daarom altijd eerst met onze coördinatoren besproken. En soms eindigt een project van één team niet altijd volgens de verwachtingen. Dat hoort bij onderwijs en leren. Daarom vragen wij geen geld voor projecten. Wel uw inspanning en tijd als projectpartner / klant natuurlijk. Heeft u een specifieke vraag met een deadline en een duidelijke beeld over het eindproduct? Dan is een (betaalde) klus voor onze studenten buiten het curriculum wellicht een goed alternatief.
        </p>
        <p class="paragraph">
            Ons curriculum biedt volop mogelijkheden om met externe partijen samen te werken. Bekijk ons curriculum en mogelijk ziet u zelf al vakken, projecten en/of minoren die bij uw vraag aansluiten. We bespreken graag de mogelijkheden. Ook als u geen idee heeft waar uw vraag in het curriculum het beste past natuurlijk.
        </p>
        <a href="#" class="button">Curriculum CMD 2018 - 2019</a>
    </article>
</section>

<section class="article article--icon article--yellow">
    <article class="article__content">
        <h3 class="heading-3">Gastcolleges</h3>
        <p class="paragraph paragraph--big">
            Hoe kun je data in je designs toepassen? Of moet je je ontwerp zo maken dat er optimaal van data gebruik gemaakt kan worden? Hoe ziet het werken bij een ontwerpbureau er nu eigenlijk uit? En wat is de meerwaarde van CMD'ers daarin? Wanneer pas je nou wel of juist niet het 'hamburger-menu' toe in je ontwerp?
        </p>
        <p class="paragraph">
            Een greep uit een aantal goede vragen die in de recente gastcolleges zijn behandeld. Bedrijven delen hun expertises met onze studenten, docenten, alumni en andere bedrijven tijdens gastcolleges en de serie ICONS. Ook een gastcollege geven? Neem contact met ons op en dan bespreken we de mogelijkheden.
        </p>
    </article>
    <img src="https://www.cmd-amsterdam.nl/wp-content/uploads/2013/12/cmd_icon_mic.png" alt="Gastcolleges">
</section>

<section class="article article--img">
    <img src="https://www.cmd-amsterdam.nl/wp-content/uploads/2013/12/u-lab.jpg" alt="Usability Lab
">
    <article class="article__content">
        <h3 class="heading-3">Usability Lab</h3>
        <p class="paragraph paragraph--big">
            Geen goed user centred design zonder Usability Lab natuurlijk! In ons Usability Lab testen onze studenten daarom of de door hun ontworpen applicaties (zowel voor desktop, tablet als small-screen) gebruiksvriendelijk zijn dus en goed scoren op 'usability'.
        </p>
        <p class="paragraph">
            Via een speciale eyetracker wordt geregistreerd hoe testpersonen door bijvoorbeeld websites en mobiele applicaties navigeren. De ‘heatmap’ die hieruit voortkomt verschaft belangrijke informatie over hoe de gebruiker door de applicatie heeft genavigeerd. Hierdoor kan ook weer een redesign worden uitgevoerd. Het is ook mogelijk om als externe organisatie een opdracht voor ons Usability Lab in te dienen. Meten is weten!
        </p>
    </article>
</section>

<section class="article article--icon article--yellow article--icon-big">
    <article class="article__content">
        <h3 class="heading-3">Bedrijfsbezoeken en evenementen</h3>
        <p class="paragraph paragraph--big">
            Wat is er nou leuker dan een groep enthousiaste CMD-studenten uit te nodigen voor een bezoek aan uw organisatie of hulp bij uw evenementen? Onze studenten (en docenten) vinden het altijd erg leuk om langs te komen bij bedrijven uit ons vakgebied.
        </p>
        <p class="paragraph">
            Op deze manier krijgen studenten beter inzicht in de verschillende soorten organisaties en hun bedrijfsculturen. Wat past er bij mij en wat niet? Waar voel ik mij thuis? Als organisatie is dit tevens een goede manier om toekomstige ontwerptalenten te interesseren voor een stage of een (bij)baan.
        </p>
        <p class="paragraph">
            Hulp bij evenementen kan bestaan uit bijvoorbeeld: filmpjes maken, bloggen, interviewen, foto’s maken, badges uitdelen, sprekers-assistentie of technische ondersteuning. Dat mag betaald, maar kan ook door toegangskaarten te geven en mogelijkheid tot het volgen van delen van het programma en te netwerken met bezoekers / sprekers.
        </p>
    </article>
    <img src="https://www.cmd-amsterdam.nl/wp-content/uploads/2013/12/cmd_icon_bulb.png" alt="Bedrijfsbezoeken en evenementen">
</section>

<section class="article article--img article--img-big">
    <article class="article__content">
        <h3 class="heading-3">Opleidingsadviesraad</h3>
        <p class="paragraph paragraph--big">
            Om onze studenten zo goed mogelijk op te leiden tot startende digital interactive designers is het belangrijk om op de hoogte te zijn van de ontwikkelingen in ons vakgebied. Eén van de instrumenten die wij hier als opleiding voor hanteren zijn gesprekken met de Opleidingsadviesraad (OAR). U kunt zich hiervoor als organisatie aanmelden.
        </p>
        <p class="paragraph">
            De OAR bestaat op dit moment uit een twintigtal professionals uit ons vakgebied, aangevuld met een aantal medewerkers van de opleiding. Gedurende het jaar komt de OAR een aantal keer samen om te praten over de ontwikkelingen in ons vakgebied en hoe of wij als opleiding nog de juiste ontwerpers opleiden voor dit (toekomstige) vakgebied. Deze sessies vinden plaats bij ons op de opleiding.
        </p>
    </article>
    <img src="https://www.cmd-amsterdam.nl/wp-content/uploads/2014/05/tagcloud-01.png" alt="Opleidingsadviesraad">
</section>

<section class="article article--yellow">
    <article class="article__video">
        <iframe src="https://player.vimeo.com/video/281269437?app_id=122963&amp;wmode=transparent" frameborder="0" title="GDA 2018 after movie" allow="autoplay; fullscreen" allowfullscreen="" data-aspectratio="0.562962962962963" style="width: 610px; height: 343.407px; opacity: 1; visibility: visible;"></iframe>
    </article>
    <article class="article__content">
        <h3 class="heading-3">Golden Dot Awards</h3>
        <p class="paragraph paragraph--big">
            Het beste studentenwerk wordt ieder jaar beloond met prijzen tijdens de jaarlijkse Golden Dot Awards. Onze docenten nomineren het beste werk, een vakjury kiest daar de winnaars uit. Dit varieert van propedeuse tot afstudeerjaar en van individueel werk tot teamprojecten.
        </p>
        <p class="paragraph">
            Voor en na de show kunnen bedrijven, docenten en studenten met elkaar in contact komen. We bieden een aantal bedrijven ook de mogelijkheid om plaats te nemen in de jury. De Golden Dot Awards 2019 wordt begin juli 2019 georganiseerd. Zie ook www.goldendotawards.nl.
        </p>
    </article>
</section>

<% include ../partials/footer.ejs %>